main
{
    // background-image: url("./images/background.png");
    .heading_1
    {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 400px;
        h1 
        {
            font-size: 3.5rem;
            letter-spacing: 2px;
            font-weight: 500;
            span 
            {
                color: #00ABE4;
            }
        }
    }

    p 
    {
        margin-left: 400px;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 400;
        button 
        {
            font-size: 1.5rem;

        }
    }
}